@model IEnumerable<Blog.Domain.Entity.CategoryWithPostsNumber>

@{
    var categoriesCode = new[] { "angularjs", "javascript", "cordova", "asp-net-mvc", "html5" };
}

<h1>Catégories:</h1>

<ul>
    @foreach (var item in Model)
    {
        if (categoriesCode.Contains(item.Category.Code))
        {
            var title = item.PostsNumber > 1 ? "Voir les " + item.PostsNumber + " articles" : "Voir l'article";

            <li class="@item.Category.Code">
                <a href="@Url.RouteUrl("PostsListForCategory", new { categoryCode = item.Category.Code })" title="@title">
                    @item.Category.Name
                    <span class="count">@item.PostsNumber</span>
                </a>
            </li>
        }
    }
</ul>