@model Blog.Web.Models.PostsListModel

@foreach (var post in Model.Posts)
{
    var postUrl = Url.Action("Post", new { categoryCode = post.Category.Code, postUrl = post.Url });
    <div class="post">
        @Html.Partial("_PostHeader", post)

        @Html.Partial("_SocialLinks", post)

        <div class="postdata">
            @Html.Raw(post.ComputedDescription)
            <p>
                <a href="@postUrl#more" class="more-link">(lire plus&#8230;)</a>
            </p>
        </div>
    </div>
}

@if (Model.CurrentPageIndex > 1)
{
    if (Model.CurrentPageIndex == 2)
    {
        if (ViewContext.RouteData.Values["categoryCode"] != null)
        {
            @Html.RouteLink("« Nouveaux Posts", "PostsListForCategory", new { categoryCode = ViewContext.RouteData.Values["categoryCode"] });
        }
        else
        {
            @Html.RouteLink("« Nouveaux Posts", "PostsList");
        }
    }
    else
    {
        if (ViewContext.RouteData.Values["categoryCode"] != null)
        {
            @Html.RouteLink("« Nouveaux Posts", "PostsListForCategory", new { categoryCode = ViewContext.RouteData.Values["categoryCode"], page = Model.CurrentPageIndex - 1 });
        }
        else
        {
            @Html.RouteLink("« Nouveaux Posts", "PostsList", new { page = Model.CurrentPageIndex - 1 });
        }
    }
}

@if (Model.CurrentPageIndex > 1 && Model.CurrentPageIndex < Model.TotalPageNumber)
{
    <text> — </text>
}

@if (Model.CurrentPageIndex < Model.TotalPageNumber)
{
    if (ViewContext.RouteData.Values["categoryCode"] != null)
    {
        @Html.RouteLink("Anciens Posts »", "PostsListForCategory", new { categoryCode = ViewContext.RouteData.Values["categoryCode"], page = Model.CurrentPageIndex + 1 });
    }
    else
    {
        @Html.RouteLink("Anciens Posts »", "PostsList", new { page = Model.CurrentPageIndex + 1 });
    }
}