@model Blog.Web.Models.PostModel

@{
    var absolutePostUrl = Url.Action("Post", "Blog", new { categoryCode = Model.CategoryCode, postUrl = Model.Url }, this.Context.Request.IsHttps ? "https" : "http");
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Title;
}

@section meta {
    @if (Model.Tags.Any())
    {
    <meta name="keywords" content="@string.Join(", ", Model.Tags)" />

    }
}

<div class="post">
    @Html.Partial("_PostHeader", Model)

    @Html.Partial("_SocialLinks", Model)

    <div class="postdata">
        @Html.Raw(Model.Content)
    </div>

    @Html.Partial("_SocialLinks", Model)

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'sebastienollivier';
        var disqus_identifier = '@Model.Id';
        var disqus_title = '@Model.Title';
        var disqus_url = '@absolutePostUrl';

        (function (w, d, s) {
            function go() {
                var js, fjs = d.getElementsByTagName(s)[0], load = function (url, id) {
                    if (d.getElementById(id)) { return; }
                    js = d.createElement(s); js.src = url; js.id = id;
                    fjs.parentNode.insertBefore(js, fjs);
                };
                load('//' + disqus_shortname + '.disqus.com/embed.js', 'disqusjs');
            }
            if (w.addEventListener) { w.addEventListener("load", go, false); }
            else if (w.attachEvent) { w.attachEvent("onload", go); }
        }(window, document, 'script'));
    </script>
</div>