@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    var isOnSearchResultPage = !string.IsNullOrEmpty(ViewBag.Search);
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Sébastien Ollivier" />
    <meta name="copyright" content="2011 - @DateTime.Now.Year © Sébastien Ollivier" />

    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title</title>
    }
    else
    {
        <title>Blog de Sébastien Ollivier</title>
    }

    <meta name="robots" content="all" />

    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta name="description" content="Je parle de ASP.NET Core, d'Angular, de Web et de bien d'autres trucs cool ! Bonne lecture." />
    }

    @RenderSection("meta", required: false)

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="application-name" content="S&eacute;bastien Ollivier" />
    <meta name="fb:app_id" content="310837429005416" />

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700">
    <link rel="stylesheet" href="/styles/style.css" asp-append-version="true" />

    @if (ViewBag.DisableAnalytics == null || ViewBag.DisableAnalytics == false)
    {
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27136294-1']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>

        @Html.Raw(JavaScriptSnippet.FullScript)
    }
</head>
<body>
    <section role="presentation" class="presentation">
        <a href="#" class="search-link">
            <i class="search-icon"></i>
        </a>
        <div class="container">
            <div class="me">
                <a asp-route="PostsList">
                    <img src="/images/headshot.png" alt="Moi" class="headshot" />
                </a>
                <div class="name">Sébastien Ollivier</div>
                <div class="status">Développeur Web Full Stack</div>

                <a class="twitter-follow-button" href="https://twitter.com/SebastienOll" data-show-count="false">Follow @@SebastienOll</a>
            </div>
            <ul class="description">
                <li>Développeur <a href="https://sporty-tech.org/" target="_blank"><span>@@SportyTech</span></a></li>
                <li>Microsoft <a href="https://mvp.microsoft.com/en-us/mvp/S%C3%A9bastien%20Ollivier-5001163" target="_blank"><span>MVP ASP.NET / IIS</span></a></li>
                <li><a href="https://www.editions-eni.fr/sebastien-ollivier" target="_blank">Auteur <span>Angular</span> / <span>AngularJS</span></a></li>
                <li><a href="https://github.com/sebastieno/" target="_blank">Open source contributor</a></li>
                <li><a href="https://fr.slideshare.net/sebastieno" target="_blank">Speaker</a></li>
                <li class="more-of-me"><a asp-controller="Home" asp-action="Index">En savoir plus...</a></li>
            </ul>
        </div>

        <section role="search">
            <div class="search @(isOnSearchResultPage ? "on" : "off")">
                <form asp-action="List" asp-controller="Blog" asp-route-categorycode="@string.Empty" method="get">
                    <label>Je cherche...</label>
                    <input type="text" name="search" value="@ViewBag.Search" />
                    <label class="legend">Appuies sur Entrée pour rechercher</label>
                </form>
            </div>
        </section>
    </section>

    <section role="main" class="main">
        <div class="container @ViewBag.ContainerClass">
            @RenderBody()
        </div>
    </section>

    <script src='~/scripts/prism.js' defer async></script>

    <script type="text/javascript">
        (function (w, d, s) {
            var imgs = d.querySelectorAll('img[data-src]:not([src])');
            var container = d.getElementsByClassName('postdata')[0];

            if(imgs && container) {
                var containerWidth = container.offsetWidth;
                imgs.forEach(function(img) {
                    if(+img.getAttribute('width') > containerWidth) {
                        img.style.height = containerWidth * +img.getAttribute('height') / +img.getAttribute('width') + 'px';
                    } else {
                        img.style.height = +img.getAttribute('height') + 'px';
                    }
                });

                if ('IntersectionObserver' in w) {
                    function handleIntersect(entry, observer) {
                        entry.forEach(entry => {
                            if(entry.intersectionRatio > 0) {
                                observer.unobserve(entry.target);
                                loadImg(entry.target);
                            }
                        });
                    }

                    var observer = new IntersectionObserver(handleIntersect, {
                        rootMargin: '0px',
                        threshold:  0.01
                    });

                    imgs.forEach(function(img) {
                        observer.observe(img);
                    });
                } else {
                    w.addEventListener("load", function() {
                        imgs.forEach(function(img) { loadImg(img); });
                    });
                }

                function loadImg(img) {
                    img.onload = function() {
                        img.style.height = '';
                    }

                    img.setAttribute('src', img.getAttribute('data-src'));
                }
            }
            function socials() {
                var js, fjs = d.getElementsByTagName(s)[0], load = function (url, id) {
                    if (d.getElementById(id)) { return; }
                    js = d.createElement(s); js.src = url; js.id = id;
                    fjs.parentNode.insertBefore(js, fjs);
                };
                load('https://platform.twitter.com/widgets.js', 'tweetjs');
            }

            function css(url) {
                var el = d.createElement('link');
                el.rel = 'stylesheet';
                el.type = 'text/css';
                el.href = url;
                d.getElementsByTagName('head')[0].appendChild(el);
            }

            function search() {
                var o = @(isOnSearchResultPage ? "true" : "false");
                var s = d.querySelector('.search');
                var i = d.querySelector('.search input');
                d.querySelector('.search-link').addEventListener('click', function () {
                    o = !o;
                    if (o) {
                        s.classList.remove('off');
                        i.focus();
                        var tmp = i.value;
                        i.value = '';
                        i.value = tmp;
                    } else
                        s.classList.add('off');
                });
            }

            w.addEventListener("load", function() {
                css("/styles/prism.css");
                socials();
                search();
            }, false);
        }(window, document, 'script'));

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js').then(function () {}).catch(function (error) {
                console.warn('Registration failed with ' + error);
            });
        };
    </script>
</body>

</html>
